{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>О ресторане "ТРИ КОТА"</h1>

    <section id="history">
      <h2>История ресторана</h2>
      <p>С момента основания ТРИ КОТА за его гастрономическим вкусом стоит Папа КОТ. С более чем 20-летним опытом работы в ресторанной сфере, Папа КОТ научился у лучших в бизнесе, работая в ряде престижных ресторанов.</p>
    </section>

    <section id="mission">
      <h2>Миссия и ценности</h2>
      <ul>
        <li>Создавать незабываемые кулинарные впечатления для наших гостей</li>
        <li>Тесные связи с поставщиками морепродуктов из Дальнего Востока России</li>
        <li>Меню вдохновлено богатством океана, предлагая свежайшие устрицы, изысканные морские ежи, сочные креветки и уникальные рыбные деликатесы</li>
        <li>Опытные коты-повара, с любовью к морепродуктам, создают блюда, в которых традиции и инновации переплетаются, чтобы порадовать ваш вкусовой опыт</li>
      </ul>
    </section>

    <section id="team">
      <h2>Наша команда</h2>
      <p>В "ТРИ КОТА" вы окунетесь в атмосферу изысканных вкусов, сопровождаемых волнующими морскими нотками.</p>
    </section>
  </div>
{% endblock %}
